In [27]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [28]:
from pathlib import Path
import pandas as pd


month = 1
year = 2024
path = Path("..") / "data" / "raw" / f"rides_{year}_{month:02}.csv"


df = pd.read_csv(path)
df.sort_values(by="started_at", inplace=True)


df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
46102,A51F9BDD9A1D6299,classic_bike,2024-01-01 00:06:21,2024-01-01 00:12:12,Essex Light Rail,JC038,City Hall,JC003,40.712774,-74.036486,40.717732,-74.043845,member
48909,D35D257404F7FC4B,electric_bike,2024-01-01 00:07:37,2024-01-01 00:07:40,Exchange Pl,JC116,Exchange Pl,JC116,40.716466,-74.034401,40.716366,-74.034344,member
6835,38677F2D17A2B5A1,electric_bike,2024-01-01 00:08:26,2024-01-01 00:24:29,Exchange Pl,JC116,Baldwin at Montgomery,JC020,40.716531,-74.034399,40.723659,-74.064194,casual
25203,D25689277AF763BC,classic_bike,2024-01-01 00:08:36,2024-01-01 00:19:23,Hoboken Terminal - River St & Hudson Pl,HB102,12 St & Sinatra Dr N,HB201,40.736068,-74.029127,40.750604,-74.024020,member
27855,2ED1774EBF339BA4,electric_bike,2024-01-01 00:08:44,2024-01-01 00:24:12,Exchange Pl,JC116,Baldwin at Montgomery,JC020,40.716500,-74.034466,40.723659,-74.064194,member

In [29]:
rides_cp = df.copy()
rides_cp.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
46102,A51F9BDD9A1D6299,classic_bike,2024-01-01 00:06:21,2024-01-01 00:12:12,Essex Light Rail,JC038,City Hall,JC003,40.712774,-74.036486,40.717732,-74.043845,member
48909,D35D257404F7FC4B,electric_bike,2024-01-01 00:07:37,2024-01-01 00:07:40,Exchange Pl,JC116,Exchange Pl,JC116,40.716466,-74.034401,40.716366,-74.034344,member
6835,38677F2D17A2B5A1,electric_bike,2024-01-01 00:08:26,2024-01-01 00:24:29,Exchange Pl,JC116,Baldwin at Montgomery,JC020,40.716531,-74.034399,40.723659,-74.064194,casual
25203,D25689277AF763BC,classic_bike,2024-01-01 00:08:36,2024-01-01 00:19:23,Hoboken Terminal - River St & Hudson Pl,HB102,12 St & Sinatra Dr N,HB201,40.736068,-74.029127,40.750604,-74.024020,member
27855,2ED1774EBF339BA4,electric_bike,2024-01-01 00:08:44,2024-01-01 00:24:12,Exchange Pl,JC116,Baldwin at Montgomery,JC020,40.716500,-74.034466,40.723659,-74.064194,member

In [30]:
rides_cp.fillna('',inplace=True)
invalid_ids = rides_cp[rides_cp['start_station_id'].str.contains(r'^\d+(\.\d+)?$', regex=True)]

# Display the filtered result
invalid_ids.head()

/var/folders/fk/nwkgvkjn4mb_fm93n1pqvpvw0000gn/T/ipykernel_28255/1780319553.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  rides_cp.fillna('',inplace=True)
/var/folders/fk/nwkgvkjn4mb_fm93n1pqvpvw0000gn/T/ipykernel_28255/1780319553.py:2: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  invalid_ids = rides_cp[rides_cp['start_station_id'].str.contains(r'^\d+(\.\d+)?$', regex=True)]

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
1811,7336CCD11D20C137,electric_bike,2024-01-04 17:09:41,2024-01-04 17:29:21,Greenwich St & Hubert St,5470.10,S 3 St & Bedford Ave,5235.05,40.730392,-74.046268,40.712605,-73.962644,member
37432,A5D03D9262438152,electric_bike,2024-01-04 19:21:31,2024-01-04 19:29:54,S 3 St & Bedford Ave,5235.05,Graham Ave & Grand St,5178.06,40.730392,-74.046268,40.711863,-73.944024,casual
2808,908E3C08A10F0BB8,electric_bike,2024-01-10 12:40:28,2024-01-10 13:05:37,Southpoint Park,6566.01,Southpoint Park,6566.01,40.748325,-74.032212,40.753702,-73.958652,casual
46707,A06CE5655EBA8A4D,electric_bike,2024-01-10 17:43:44,2024-01-10 18:03:18,Southpoint Park,6566.01,Southpoint Park,6566.01,40.748325,-74.032212,40.753702,-73.958652,casual
7962,1C53A3B148EA160D,electric_bike,2024-01-12 14:19:22,2024-01-12 14:29:30,Southpoint Park,6566.01,Motorgate,6814.01,40.748325,-74.032212,40.763909,-73.947721,casual

In [31]:
filtered_rides = rides_cp[rides_cp['start_station_name'] == 'Southpoint Park']
filtered_rides

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
2808,908E3C08A10F0BB8,electric_bike,2024-01-10 12:40:28,2024-01-10 13:05:37,Southpoint Park,6566.01,Southpoint Park,6566.01,40.748325,-74.032212,40.753702,-73.958652,casual
46707,A06CE5655EBA8A4D,electric_bike,2024-01-10 17:43:44,2024-01-10 18:03:18,Southpoint Park,6566.01,Southpoint Park,6566.01,40.748325,-74.032212,40.753702,-73.958652,casual
7962,1C53A3B148EA160D,electric_bike,2024-01-12 14:19:22,2024-01-12 14:29:30,Southpoint Park,6566.01,Motorgate,6814.01,40.748325,-74.032212,40.763909,-73.947721,casual

In [32]:
distinct_start_station_names = rides_cp.groupby('start_station_id')['start_station_name'].nunique()
distinct_start_station_names = distinct_start_station_names[distinct_start_station_names > 1]
distinct_start_station_names

Series([], Name: start_station_name, dtype: int64)

In [33]:
rides_cp.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50661 entries, 46102 to 7007
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             50661 non-null  object
 1   rideable_type       50661 non-null  object
 2   started_at          50661 non-null  object
 3   ended_at            50661 non-null  object
 4   start_station_name  50661 non-null  object
 5   start_station_id    50661 non-null  object
 6   end_station_name    50661 non-null  object
 7   end_station_id      50661 non-null  object
 8   start_lat           50661 non-null  float64
 9   start_lng           50661 non-null  float64
 10  end_lat             50661 non-null  object
 11  end_lng             50661 non-null  object
 12  member_casual       50661 non-null  object
dtypes: float64(2), object(11)
memory usage: 5.4+ MB

In [34]:

rides_cp['started_at'] = pd.to_datetime(rides_cp['started_at'])
rides_cp['ended_at'] = pd.to_datetime(rides_cp['ended_at'])


rides_cp['duration'] = (rides_cp['ended_at'] - rides_cp['started_at'])


duration_description = rides_cp['duration'].describe()
duration_description

count                        50661
mean     0 days 00:08:36.196541718
std      0 days 00:39:26.640639593
min                0 days 00:00:00
25%                0 days 00:03:36
50%                0 days 00:05:23
75%                0 days 00:08:08
max                1 days 00:59:56
Name: duration, dtype: object

In [35]:
rides_cp["duration"].quantile(0)
rides_cp["duration"].quantile(0.01)
rides_cp["duration"].quantile(0.995)
rides_cp["duration"].quantile(0.999)

Timedelta('0 days 00:00:00')

Timedelta('0 days 00:00:28')

Timedelta('0 days 01:07:39.399999999')

Timedelta('0 days 08:50:48.640000')

In [36]:
rides_cp['ride_id'].count()

50661

In [37]:
duration_filter = (rides_cp["duration"] > pd.Timedelta(0)) & (rides_cp["duration"] <= pd.Timedelta(hours=24))
sum(~duration_filter)

26

In [38]:
sorted_df = rides_cp.sort_values(by="started_at", ascending=True)  

# Get the top 10 (smallest) and bottom 10 (largest) values  
top_10 = sorted_df.head(10)  
bottom_10 = sorted_df.tail(10)  

top_10

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,duration
46102,A51F9BDD9A1D6299,classic_bike,2024-01-01 00:06:21,2024-01-01 00:12:12,Essex Light Rail,JC038,City Hall,JC003,40.712774,-74.036486,40.717732,-74.043845,member,0 days 00:05:51
48909,D35D257404F7FC4B,electric_bike,2024-01-01 00:07:37,2024-01-01 00:07:40,Exchange Pl,JC116,Exchange Pl,JC116,40.716466,-74.034401,40.716366,-74.034344,member,0 days 00:00:03
6835,38677F2D17A2B5A1,electric_bike,2024-01-01 00:08:26,2024-01-01 00:24:29,Exchange Pl,JC116,Baldwin at Montgomery,JC020,40.716531,-74.034399,40.723659,-74.064194,casual,0 days 00:16:03
25203,D25689277AF763BC,classic_bike,2024-01-01 00:08:36,2024-01-01 00:19:23,Hoboken Terminal - River St & Hudson Pl,HB102,12 St & Sinatra Dr N,HB201,40.736068,-74.029127,40.750604,-74.02402,member,0 days 00:10:47
27855,2ED1774EBF339BA4,electric_bike,2024-01-01 00:08:44,2024-01-01 00:24:12,Exchange Pl,JC116,Baldwin at Montgomery,JC020,40.716500,-74.034466,40.723659,-74.064194,member,0 days 00:15:28
40078,C06E0860F8AA9ED8,classic_bike,2024-01-01 00:09:17,2024-01-01 00:19:20,Hoboken Terminal - River St & Hudson Pl,HB102,12 St & Sinatra Dr N,HB201,40.736068,-74.029127,40.750604,-74.02402,casual,0 days 00:10:03
989,1F87AFA8C589864A,electric_bike,2024-01-01 00:09:18,2024-01-01 00:24:42,Exchange Pl,JC116,Baldwin at Montgomery,JC020,40.716437,-74.034437,40.723659,-74.064194,casual,0 days 00:15:24
25042,8F91AA9F88ED3032,electric_bike,2024-01-01 00:09:55,2024-01-01 00:16:52,4 St & River St,HB611,12 St & Sinatra Dr N,HB201,40.740816,-74.027371,40.750604,-74.02402,casual,0 days 00:06:57
25118,663F5A1E487FFF66,electric_bike,2024-01-01 00:10:53,2024-01-01 00:16:43,4 St & River St,HB611,12 St & Sinatra Dr N,HB201,40.740829,-74.027331,40.750604,-74.02402,casual,0 days 00:05:50
33866,9C1C40245EDECE4C,electric_bike,2024-01-01 00:11:07,2024-01-01 00:13:58,Bergen Ave & Sip Ave,JC109,Fairmount Ave,JC093,40.731089,-74.064516,40.725726,-74.071959,member,0 days 00:02:51

In [39]:

bottom_10

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,duration
40463,EF7970610C95A8A1,classic_bike,2024-01-31 23:25:17,2024-01-31 23:53:38,Clinton St & 7 St,HB303,Oakland Ave,JC022,40.745420,-74.033320,40.737604,-74.052478,member,0 days 00:28:21
46278,F2FB4616D89F762E,electric_bike,2024-01-31 23:26:30,2024-01-31 23:29:45,Grand St & 14 St,HB506,11 St & Washington St,HB502,40.754008,-74.031575,40.749985,-74.02715,member,0 days 00:03:15
47194,6CCFC833EF8EDB5D,classic_bike,2024-01-31 23:31:01,2024-01-31 23:34:00,4 St & River St,HB611,6 St & Grand St,HB302,40.740814,-74.027406,40.744398,-74.034501,member,0 days 00:02:59
47185,CCC0801075315C32,electric_bike,2024-01-31 23:41:14,2024-01-31 23:49:20,Grove St PATH,JC115,6 St & Grand St,HB302,40.719017,-74.043290,40.744398,-74.034501,member,0 days 00:08:06
4055,05D3A45ABC2E1D41,electric_bike,2024-01-31 23:42:12,2024-01-31 23:49:23,Willow Ave & 12 St,HB505,Stevens - River Ter & 6 St,HB602,40.751914,-74.030403,40.743133,-74.026989,member,0 days 00:07:11
15036,1049EBB89AB4E2A0,classic_bike,2024-01-31 23:46:57,2024-01-31 23:49:28,Clinton St & Newark St,HB409,Southwest Park - Jackson St & Observer Hwy,HB401,40.737430,-74.035710,40.737551,-74.041664,member,0 days 00:02:31
6100,301774DA7D1372BA,classic_bike,2024-01-31 23:49:09,2024-02-01 00:21:36,Christ Hospital,JC034,Christ Hospital,JC034,40.734786,-74.050444,40.734786,-74.050444,member,0 days 00:32:27
5167,075320F435159BC2,classic_bike,2024-01-31 23:49:48,2024-01-31 23:58:17,Church Sq Park - 5 St & Park Ave,HB601,Hoboken Terminal - River St & Hudson Pl,HB102,40.742659,-74.032233,40.736068,-74.029127,casual,0 days 00:08:29
1187,7182C5164EC3AC80,electric_bike,2024-01-31 23:50:20,2024-01-31 23:57:18,Church Sq Park - 5 St & Park Ave,HB601,Hoboken Terminal - River St & Hudson Pl,HB102,40.742665,-74.032481,40.736068,-74.029127,casual,0 days 00:06:58
7007,656BB47EFABEDAC1,electric_bike,2024-01-31 23:51:27,2024-01-31 23:55:41,Adams St & 2 St,HB407,Willow Ave & 12 St,HB505,40.739761,-74.036865,40.751867,-74.030377,member,0 days 00:04:14

In [52]:
rides_cp['start_station_id'].value_counts()

start_station_id
HB102      2741
JC115      2334
HB101      1363
JC109      1338
JC066      1282
           ...
5470.10       1
5235.05       1
6814.01       1
              1
6560.01       1
Name: count, Length: 90, dtype: int64

In [41]:
filter_date_range = (rides_cp["started_at"] >= "2024-01-01") & (rides_cp["started_at"] < "2024-02-01")
sum(~filter_date_range)

0

In [42]:
final_filter = duration_filter & filter_date_range
numbers_dropped = final_filter.shape[0] - sum(final_filter) 
numbers_dropped
numbers_dropped/final_filter.shape[0] * 100

26

0.051321529381575574

In [63]:
rides = rides_cp[final_filter]
rides = rides[["started_at", "start_station_id"]]
rides.rename(columns={
    "started_at": "pickup_datetime",
    "start_station_id": "pickup_location_id"
}, inplace=True)
rides.head()
year = 2024
month = 1
path = Path("..") / "data" / "processed" / f"rides_{year}_{month:02}.parquet"

          pickup_datetime pickup_location_id
46102 2024-01-01 00:06:21              JC038
48909 2024-01-01 00:07:37              JC116
6835  2024-01-01 00:08:26              JC116
25203 2024-01-01 00:08:36              HB102
27855 2024-01-01 00:08:44              JC116

In [44]:
rides.to_parquet(path, engine="pyarrow", index=False)

In [62]:
rides[rides["pickup_location_id"] == 'JC115']

          pickup_datetime pickup_location_id
26575 2024-01-01 00:13:30              JC115
13824 2024-01-01 00:13:33              JC115
23097 2024-01-01 00:58:42              JC115
27079 2024-01-01 01:21:33              JC115
113   2024-01-01 01:32:40              JC115
...                   ...                ...
27437 2024-01-31 19:28:57              JC115
11250 2024-01-31 20:10:48              JC115
11151 2024-01-31 20:46:12              JC115
48051 2024-01-31 21:52:19              JC115
47185 2024-01-31 23:41:14              JC115

[2331 rows x 2 columns]

In [53]:
import pandas as pd
from pathlib import Path


raw_path = Path("..") / "data" / "raw"

# List to collect all monthly DataFrames
all_rides = []

# Iterate through all relevant CSV files
for csv_file in sorted(raw_path.glob("rides_2024_*.csv")):
    try:
        
        df = pd.read_csv(csv_file)
        # Parse datetime early for verification
        df["started_at"] = pd.to_datetime(df["started_at"], errors='coerce')
        all_rides.append(df)


    except Exception as e:
        print(f" Failed to process {csv_file.name}: {e}")

# Combine all months into a single DataFrame
df1 = pd.concat(all_rides, ignore_index=True)

In [47]:
df1

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,0744109F13385D1D,electric_bike,2024-01-15 15:18:07.000,2024-01-15 15:32:44,Morris Canal,JC072,Oakland Ave,JC022,40.712297,-74.038185,40.737604,-74.052478,member
1,B1488BFEF9118000,classic_bike,2024-01-13 15:32:50.000,2024-01-13 15:36:18,JC Medical Center,JC110,Grove St PATH,JC115,40.715391,-74.049692,40.719410,-74.043090,member
2,95A2FE8E51B4C836,classic_bike,2024-01-19 13:11:00.000,2024-01-19 13:14:44,Morris Canal,JC072,Exchange Pl,JC116,40.712419,-74.038526,40.716366,-74.034344,member
3,95D9AFF6A1652DC1,classic_bike,2024-01-23 07:03:49.000,2024-01-23 07:07:11,Morris Canal,JC072,Exchange Pl,JC116,40.712419,-74.038526,40.716366,-74.034344,member
4,5F7408988A83B1B3,classic_bike,2024-01-01 16:46:10.000,2024-01-01 16:50:31,Morris Canal,JC072,Harborside,JC104,40.712419,-74.038526,40.719252,-74.034234,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1052446,7E81F3435D05D1F4,electric_bike,2024-12-28 09:45:30.704,2024-12-28 09:48:02.706,Marin Light Rail,JC013,Exchange Pl,JC116,40.714584,-74.042817,40.716366,-74.034344,member
1052447,70499242367CEA82,classic_bike,2024-12-12 16:21:50.427,2024-12-12 16:26:34.069,Marin Light Rail,JC013,Manila & 1st,JC082,40.714584,-74.042817,40.721651,-74.042884,member
1052448,146BB7BEE3C31DAC,classic_bike,2024-12-11 19:23:24.109,2024-12-11 19:25:07.612,Grove St PATH,JC115,Manila & 1st,JC082,40.719410,-74.043090,40.721651,-74.042884,member
1052449,ADA14EC995D83769,classic_bike,2024-12-12 20:48:40.471,2024-12-12 20:52:41.722,Grove St PATH,JC115,Exchange Pl,JC116,40.719410,-74.043090,40.716366,-74.034344,member
1052450,214E88D0B0FCBA75,classic_bike,2024-12-04 18:14:12.686,2024-12-04 18:19:02.621,Marin Light Rail,JC013,Manila & 1st,JC082,40.714584,-74.042817,40.721651,-74.042884,member

In [64]:
df1.fillna('',inplace=True)
invalid_ids = df1[df1['start_station_id'].str.contains(r'^\d+(\.\d+)?$', regex=True)]

# Display the filtered result
invalid_ids.head()

/var/folders/fk/nwkgvkjn4mb_fm93n1pqvpvw0000gn/T/ipykernel_28255/238208567.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df1.fillna('',inplace=True)
/var/folders/fk/nwkgvkjn4mb_fm93n1pqvpvw0000gn/T/ipykernel_28255/238208567.py:2: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  invalid_ids = df1[df1['start_station_id'].str.contains(r'^\d+(\.\d+)?$', regex=True)]

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
1811,7336CCD11D20C137,electric_bike,2024-01-04 17:09:41,2024-01-04 17:29:21,Greenwich St & Hubert St,5470.10,S 3 St & Bedford Ave,5235.05,40.730392,-74.046268,40.712605,-73.962644,member
2808,908E3C08A10F0BB8,electric_bike,2024-01-10 12:40:28,2024-01-10 13:05:37,Southpoint Park,6566.01,Southpoint Park,6566.01,40.748325,-74.032212,40.753702,-73.958652,casual
4140,AAC02759B32781BE,electric_bike,2024-01-24 12:42:38,2024-01-24 12:46:34,Broadway & W 41 St,6560.01,11 Ave & W 41 St,6726.01,40.754863,-74.016444,40.760301,-73.998842,member
6074,0B3B42EBDF5308B5,electric_bike,2024-01-12 16:52:51,2024-01-12 16:55:53,Motorgate,6814.01,Roosevelt Island Tramway,6599.01,40.748325,-74.032212,40.757284,-73.9536,member
7962,1C53A3B148EA160D,electric_bike,2024-01-12 14:19:22,2024-01-12 14:29:30,Southpoint Park,6566.01,Motorgate,6814.01,40.748325,-74.032212,40.763909,-73.947721,casual

In [66]:
df1['started_at'] = pd.to_datetime(df1['started_at'])  
january_records = df1[df1['started_at'].dt.month == 1]
january_records

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,0744109F13385D1D,electric_bike,2024-01-15 15:18:07,2024-01-15 15:32:44,Morris Canal,JC072,Oakland Ave,JC022,40.712297,-74.038185,40.737604,-74.052478,member
1,B1488BFEF9118000,classic_bike,2024-01-13 15:32:50,2024-01-13 15:36:18,JC Medical Center,JC110,Grove St PATH,JC115,40.715391,-74.049692,40.71941,-74.04309,member
2,95A2FE8E51B4C836,classic_bike,2024-01-19 13:11:00,2024-01-19 13:14:44,Morris Canal,JC072,Exchange Pl,JC116,40.712419,-74.038526,40.716366,-74.034344,member
3,95D9AFF6A1652DC1,classic_bike,2024-01-23 07:03:49,2024-01-23 07:07:11,Morris Canal,JC072,Exchange Pl,JC116,40.712419,-74.038526,40.716366,-74.034344,member
4,5F7408988A83B1B3,classic_bike,2024-01-01 16:46:10,2024-01-01 16:50:31,Morris Canal,JC072,Harborside,JC104,40.712419,-74.038526,40.719252,-74.034234,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
50656,75E5CF948A4ADB77,electric_bike,2024-01-25 20:51:27,2024-01-25 20:59:16,Willow Ave & 12 St,HB505,Clinton St & 7 St,HB303,40.751920,-74.030396,40.74542,-74.03332,casual
50657,58DD5BF65F9B9E31,electric_bike,2024-01-27 09:03:41,2024-01-27 09:08:47,Southwest Park - Jackson St & Observer Hwy,HB401,Clinton St & 7 St,HB303,40.737551,-74.041664,40.74542,-74.03332,casual
50658,F0FBCE423BE48B08,classic_bike,2024-01-28 14:46:29,2024-01-28 14:51:43,Southwest Park - Jackson St & Observer Hwy,HB401,Clinton St & 7 St,HB303,40.737551,-74.041664,40.74542,-74.03332,member
50659,7DD51CAD2DBE7990,classic_bike,2024-01-10 08:03:47,2024-01-10 08:10:55,Southwest Park - Jackson St & Observer Hwy,HB401,Clinton St & 7 St,HB303,40.737551,-74.041664,40.74542,-74.03332,casual
50660,A48A85D58AFEBAA3,electric_bike,2024-01-29 12:22:47,2024-01-29 12:25:33,Willow Ave & 12 St,HB505,Bloomfield St & 15 St,HB203,40.751956,-74.030405,40.75453,-74.02658,member

In [70]:
df1['started_at'] = pd.to_datetime(df1['started_at'])  
feb_records = df1[df1['started_at'].dt.month == 2]
feb_records

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
50661,A841EF9C3617E47B,electric_bike,2024-02-12 16:17:19,2024-02-12 16:23:24,Adams St & 2 St,HB407,Stevens - River Ter & 6 St,HB602,40.739701,-74.036831,40.743133,-74.026989,casual
50662,514881A61CAD0A93,electric_bike,2024-02-04 15:04:16,2024-02-04 15:40:14,Adams St & 2 St,HB407,Stevens - River Ter & 6 St,HB602,40.739741,-74.036824,40.743133,-74.026989,casual
50663,511F37086CCC4510,electric_bike,2024-02-16 16:23:16,2024-02-16 16:27:16,Clinton St & Newark St,HB409,Stevens - River Ter & 6 St,HB602,40.737508,-74.035715,40.743133,-74.026989,casual
50664,27A2AA8BDD0D1F6E,classic_bike,2024-02-25 17:05:01,2024-02-25 17:10:53,Adams St & 2 St,HB407,Stevens - River Ter & 6 St,HB602,40.739814,-74.036904,40.743133,-74.026989,member
50665,2808ABEC0903C18E,electric_bike,2024-02-29 15:21:15,2024-02-29 15:26:03,Adams St & 2 St,HB407,Stevens - River Ter & 6 St,HB602,40.739712,-74.036858,40.743133,-74.026989,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
106269,B4251D3376B59FF2,electric_bike,2024-02-25 09:38:44,2024-02-25 09:46:36,Bergen Ave & Sip Ave,JC109,Newark Ave,JC032,40.731154,-74.064473,40.721525,-74.046305,member
106270,513FF14445FD5A5E,electric_bike,2024-02-26 11:52:05,2024-02-26 12:00:49,Bergen Ave & Sip Ave,JC109,Newark Ave,JC032,40.730872,-74.064368,40.721525,-74.046305,member
106271,87DBD5B9091DFEC3,electric_bike,2024-02-05 17:05:38,2024-02-05 17:07:54,Montgomery St,JC099,Newark Ave,JC032,40.719487,-74.050998,40.721525,-74.046305,member
106272,8DD48EA418BCA621,electric_bike,2024-02-22 18:42:50,2024-02-22 18:46:39,York St & Marin Blvd,JC097,Newark Ave,JC032,40.719073,-74.043205,40.721525,-74.046305,member
106273,9F03340617826524,classic_bike,2024-02-28 08:39:10,2024-02-28 08:42:47,Dixon Mills,JC076,Newark Ave,JC032,40.721630,-74.049968,40.721525,-74.046305,member

In [69]:
df1['started_at'] = pd.to_datetime(df1['started_at'])  
Nov_records = df1[df1['started_at'].dt.month == 11]
Nov_records

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
912324,9AA03545887E57FA,electric_bike,2024-11-02 08:14:11.199,2024-11-02 08:21:33.196,Hoboken Terminal - River St & Hudson Pl,HB102,Hamilton Park,JC009,40.736068,-74.029127,40.727596,-74.044247,member
912325,69BD4C5BD37D6463,electric_bike,2024-11-17 17:43:49.737,2024-11-17 17:59:34.603,Hoboken Terminal - River St & Hudson Pl,HB102,Hamilton Park,JC009,40.736068,-74.029127,40.727596,-74.044247,member
912326,930331A4B31919FE,electric_bike,2024-11-24 10:35:18.337,2024-11-24 10:44:54.052,Hoboken Terminal - River St & Hudson Pl,HB102,Hamilton Park,JC009,40.736068,-74.029127,40.727596,-74.044247,member
912327,BE4A4B292C7784CF,electric_bike,2024-11-24 14:55:56.094,2024-11-24 15:05:05.286,Hoboken Terminal - River St & Hudson Pl,HB102,Hamilton Park,JC009,40.736068,-74.029127,40.727596,-74.044247,member
912328,DC39CF66AB8A7B91,electric_bike,2024-11-05 17:37:22.971,2024-11-05 17:41:44.065,Grand St & 14 St,HB506,6 St & Grand St,HB302,40.754090,-74.031600,40.744398,-74.034501,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
997617,FBB26469E5EAF080,electric_bike,2024-11-12 15:56:16.003,2024-11-12 15:59:10.437,8 St & Washington St,HB603,9 St HBLR - Jackson St & 8 St,HB305,40.745984,-74.028199,40.747907,-74.038412,member
1006613,AF071348041916D6,electric_bike,2024-11-30 23:58:46.504,2024-12-01 00:02:50.786,River St & 1 St,HB609,Mama Johnson Field - 4 St & Jackson St,HB404,40.737215,-74.028865,40.74314,-74.040041,member
1007263,E644C56055A5242F,electric_bike,2024-11-30 23:54:04.805,2024-12-01 00:01:10.086,River St & 1 St,HB609,8 St & Washington St,HB603,40.737215,-74.028865,40.745984,-74.028199,member
1021741,2E5F730ADB5CC078,electric_bike,2024-11-30 23:58:07.259,2024-12-01 00:04:03.876,Bergen Ave & Sip Ave,JC109,Bergen Ave,JC095,40.731009,-74.064437,40.722104,-74.071455,casual
1050712,AEB243E6B58AE973,classic_bike,2024-11-30 23:32:54.155,2024-12-01 07:51:08.834,4 St & River St,HB611,Hoboken Terminal - River St & Hudson Pl,HB102,40.740814,-74.027406,40.736068,-74.029127,member

In [71]:
# 1. Count trips per (id, name) pair
station_counts = (
    df1
    .groupby(["start_station_id", "start_station_name"])
    .size()
    .reset_index(name="trip_count")
)

# 2. Sort descending and take top 3
top3 = station_counts.sort_values("trip_count", ascending=False).head(3)

# 3. Display just the id & name
print(top3[["start_station_id", "start_station_name"]])

    start_station_id                        start_station_name
124            HB102   Hoboken Terminal - River St & Hudson Pl
204            JC115                             Grove St PATH
123            HB101  Hoboken Terminal - Hudson St & Hudson Pl